.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8); 
}

.sticky-nav .nav-link {
    color: #333;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
}

.h-custom {
    height: 75vh;
  }